html
  head        
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title=EscapeServer

    script(src="/socket.io/socket.io.js")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

    script(defer src="Main.js")
    script(defer src="Devices.js")
    //- script(defer src="RequestHandler.js")    
    //- script(defer src="webmidi.min.js")
    //- script(defer src="MidiManager.js")


    //- script(defer src="webmidi.min.js")
    //- script(defer src="midiHandler.js")          

    link(rel='stylesheet', href='bulma.css', type='text/css')
    link(rel='stylesheet', href='css/devices.css', type='text/css')

  body 
    div(class="mainContainer")
      div(class="topContainer")
      div(class="centerContainer")
        each device, index in devices
          div(class="deviceContainer")
            p(id=`device_${index}`)=device.room
            p(id=`device_${index}`)=device.name
            p(id=`device_${index}`)=device.description            
            p(class="control")
              a(class="button is-primary" onClick=`RemoveDevice(${device.id})`) Remove
            div(class="actionContainer box field has-addons has-addons-centered")
              p(class="control")
                input(id=`action_name_${device.id}` class="input is-primary" type="text" placeholder="Action name")
              p(class="control")
                input(id=`action_parameter_${device.id}` class="input is-primary" type="text" placeholder="Parameter")
              p(class="control")
                a(class="button is-primary" onClick=`AddAction(${device.id})`) Add
            div(class="configContainer box field has-addons has-addons-centered")
              p(class="control")
                input(id=`config_name_${device.id}` class="input is-primary" type="text" placeholder="Config name")
              p(class="control")
                a(class="button is-primary" onClick=`AddConfig(${device.id})`) Add
      div(class="bottomContainer")
        div(class="field has-addons has-addons-centered")  
          p(class="control")
            span(class="select")
              select(id="room")
                option Cake
                option Jan               
          p(class="control")
            input(id="name" class="input is-primary" type="text" placeholder="Name")           
          p(class="control")
            input(id="description" class="input is-primary" type="text" placeholder="Description")
          p(class="control")
            //- input(id="config" class="input is-primary" type="text" placeholder="Config")
          p(class="control")
            //- input(id="actions" class="input is-primary" type="text" placeholder="Action")                
          p(class="control")
            a(class="button is-primary" onClick="AddDevice()") Add

        