extends layout.pug

block title
    | Triggers

block scripts 
    script(defer src="Triggers.js")

block content
    .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid
        .row
            .col-lg-8
                // begin::Portlet
                .kt-portlet
                    .kt-portlet__head
                        .kt-portlet__head-label
                            h3.kt-portlet__head-title
                                | Triggers
                                small events -> actions
                    .kt-portlet__body
                        // begin::Timeline 1
                        .kt-list-timeline
                            .kt-list-timeline__items
                                each trigger in triggers
                                    .kt-list-timeline__item
                                        span.kt-list-timeline__badge.kt-list-timeline__badge--info
                                        span.kt-list-timeline__text
                                            | #{trigger.trigger_name}
                                        span.kt-list-timeline__text                                            
                                            span.kt-badge.kt-badge--success.kt-badge--inline.kt-badge--large #{trigger.event}
                                            |  @ #{trigger.iDevice} 
                                        span.kt-list-timeline__text                                            
                                            span.kt-badge.kt-badge--info.kt-badge--inline #{trigger.action} (#{trigger.parameter})
                                            |  @ #{trigger.oDevice}                                              
                                        span.kt-list-timeline__time #{trigger.delay_time} sec. 
                                        span.kt-list-timeline__time
                                            button.btn.btn-outline-hover-danger.btn-icon(type="button" onClick=`RemoveTrigger(${trigger.id})`)
                                                i.fa.fa-trash
                                       
                        // end::Timeline 1
                        .kt-separator.kt-separator--space-lg.kt-separator--border-dashed            
                // end::Portlet  
            .col-lg-4
                // begin::Portlet
                .kt-portlet
                    .kt-portlet__head
                        .kt-portlet__head-label
                            h3.kt-portlet__head-title
                                | Add trigger
                    // begin::Form
                    form.kt-form
                        .kt-portlet__body
                            .kt-section.kt-section--first
                                h3.kt-section__title Input device
                                .kt-section__body
                                    .form-group.row
                                        label.col-lg-3.col-form-label Name:
                                        .col-lg-6
                                            input#name.form-control(type="text" placeholder="Name of the trigger")
                                    .form-group.row
                                        label.col-lg-3.col-form-label Input device:
                                        .col-lg-6
                                            select#iDevice.form-control(onclick=`PopulateDropDown("iDevice", "event", "event")`)
                                                each device in devices
                                                    option(value=`${device.device_name}`)= device.device_name                                             
                                    .form-group.row
                                        label.col-lg-3.col-form-label Event:
                                        .col-lg-6
                                            select#event.form-control
                                                option Select device
                                h3.kt-section__title Output device:
                                .kt-section__body
                                    .form-group.row
                                        label.col-lg-3.col-form-label Output Device:
                                        .col-lg-6
                                            select#oDevice.form-control(onclick=`PopulateDropDown("oDevice", "action", "action")` placeholder="Select device")
                                                each device in devices
                                                    option(value=`${device.device_name}`)= device.device_name       
                                    .form-group.row
                                        label.col-lg-3.col-form-label Action:
                                        .col-lg-6
                                            select#action.form-control
                                                option Select device  
                                    .form-group.row
                                        label.col-lg-3.col-form-label Parameter:
                                        .col-lg-6
                                            input#parameter.form-control(type="number" value="0")

                                    .form-group.row
                                        label.col-lg-3.col-form-label Delay:
                                        .col-lg-6
                                            input#delay_time.form-control(type="number" value="0")
                        .kt-portlet__foot
                            .kt-form__actions
                                .row
                                    .col-lg-3
                                        button.btn.btn-success(type="reset" onClick="AddTrigger()") Add
                                    .col-lg-6
                                        
                    // end::Form
                // end::Portlet
